<nav class="navbar navbar-inverse">
  <div class="container-fluid">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <h3 class="pull-right" *ngIf="isLoggedIn">{{name}}</h3>
          <ul class="nav navbar-nav">
              <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
              <li><a routerLink="/posts" routerLinkActive="active" *ngIf="isLoggedIn">Posts</a></li>
              <li><a routerLink="/login" routerLinkActive="active" *ngIf="!isLoggedIn">Login</a></li>
              <li><a (click)="logOut()" routerLinkActive="active" *ngIf="isLoggedIn">Logout</a></li>
              <li><a routerLink="/signup" routerLinkActive="active" *ngIf="!isLoggedIn">Register</a></li>
          </ul>
      </div>
  </div>
</nav>