/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Open Sans', sans-serif;
  background: #e8e8e8;
}

.wrapper {
  background: #fafafa;
  border-radius: 5px;
}

.button {
  min-width: 120px;
  background: #0abe51;
  font-size: 14px;
  color: #fff;
}
.form-container {
  background:white;
  padding:3.5em;
  width:500px;
  position:fixed;
  left:50%;
  margin-left:-250px;
}
.alc {
  text-align:center;
  display:block;
  margin: 15px 0;
}

.button:hover {
  background: #049525;
}

.button:focus, button:focus{
  outline: none !important;
}

.button.loading {
  background: #0abe51 url(/assets/loader-white.svg) no-repeat 10% center;
  padding-left: 35px;
  background-size: 25px;
}

h2 {
  text-align: center;
  margin-bottom: 50px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: rgba(10, 190, 81, 0.05);
}

.table > thead > tr > th {
  border-bottom: 2px solid #049525;
}

.table > tbody > tr > td {
  vertical-align: middle;
  border-top: 1px solid #0abe51;
  padding: 10px 5px;
}

.bs-callout-info {
  border-left-color: #1b809e !important;
}

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #b0c4de;
  border-left-width: 5px;
  border-radius: 3px;
  background-color: #fafafa;
}

.bs-callout-info h4 {
  color: #1b809e;
}

.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.bs-callout p:last-child {
  margin-bottom: 0;
  font-size: 14px;
}
.loading {
  width: 30px;
  height: 30px;
  border: 5px solid #ccc;
  position: fixed;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;
  border-radius: 50%;
}
#fb, #google, #email {
  padding:1.2em;
  width:100%;
  cursor:pointer;
  margin-bottom:15px;
  font-size:1.3em;
}

.basic-btn {
  background: #3B8598;
  color:white;
}

input.txt {
  background:#fff !important;
  padding:1.3em 1em;
  font-size:1.3em;
  border: 1px solid #BBBBBB;
}

.loading:after {
  content: '';
  position: absolute;
  width: 40px;
  height: 10px;
  background: #E2E4E6;
  top: 10px;
  left: -5px;
  animation: spin 1.2s infinite;
}

@media (max-width: 600px) {
  body {
      padding-top:1.2em;
  }

  .form-container {
      padding:1.2em;
      width:90%;
      margin-left:-45%;
  }
  button {
      font-size:1em;
  }
}
